@import "tailwindcss";

@font-face {
  font-family: 'Red-Hat-Mono';
  src: url('./fonts/Red_Hat_Mono/RedHatMono-VariableFont_wght.ttf');


}
.redhat{
  font-family: 'Red-Hat-Mono';
  font-weight: 350;
  
  letter-spacing: -0.05rem;
  word-spacing: -.2rem;
  
  
}

